* {
    position: absolute;
}

.text {
  font-family: "Mountains of Christmas";
  font-size: 72px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 80.6px;
}
#text1 {
    color: #d95226;
    top: 0px;
    left: 100px;
    width: 1000px;
}
#text2 {
    color: #5b852a;
    top: 600px;
    left: 25px;
    width: 1000px;
}
#bird1 {
  width: 100px;
  height: 100px;
  left: 0px;
  bottom: 200px;
  right: 100px;
}
#bird2 {
  width: 100px;
  height: 100px;
  left: 0px;
  bottom: 100px;
}
#bird3 {
  width: 100px;
  height: 100px;
  left: 500px;
  bottom: 100px;
}
#ornaments {
  width: 100px;
  height: 100px;
}
#cardinal1 {
    width: 100px;
    height: 100px;
    left: 25px;
    top: 400px;
}
#cardinal2 {
    width: 100px;
    height: 100px;
    left: 550px;
    top: 400px;
}
#gnome {
    left: 125px;
    top: 445px;
}
#branches {
    z-index: -1;
}
canvas {
    display: block;
    z-index: 100;
    width: 600px;
    height: 600px;
}